//forms.scss

form {
	width: 100%;
}

fieldset {
	min-width: 0;
	width: 100%;
}

input[type="text"], input[type="file"], textarea {
	width: 100%;
}

input, button, textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	background-color: $base03;
	color: $base3;
	border: 1px solid $base3;
	transition: 0.5s ease-in-out;
	border-radius: 4px;
}

button:hover {
	background-color: $base3;
	color: $base03;
}

input[type="checkbox"]:checked:before {
	content: '✔';
}

#photo {
	background: inherit;
	color: inherit;
	border: none;
}
