@import url("/assets/css/normalize.css");
body {
  background: url("/assets/img/escheresque.png");
}

.map {
  height: 150px;
}

body {
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga";
  font-family: "leitura-news", serif;
  font-size: 1.2em;
}

#topheader h1 {
  font-family: "leitura-news", serif;
}

h1 {
  font-family: "prenton", sans-serif;
}

code {
  font-family: "inconsolata", courier, monospace;
}

#topheader a {
  text-decoration: none;
}

nav {
  font-feature-settings: "dlig";
}

article header h1 a {
  text-decoration: none;
}

article div a {
  text-decoration: none;
}

footer {
  font-size: 0.8em;
}

.emoji {
  width: auto;
  height: 1em;
}

.social-list {
  list-style-type: none;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

#topheader {
  text-align: center;
}

nav a {
  font-size: 1.5em;
  padding-left: 2em;
  padding-right: 1.7em;
}

.note {
  background-color: #eee8d5;
  box-shadow: 0 0 10px 2px #93a1a1;
  padding: 0.5em 0.5em;
  margin-top: 1em;
}

.note a {
  word-wrap: break-word;
}

.note .e-content p:first-child {
  margin-top: 0;
}

.note-metadata {
  width: 100%;
}

.social-links {
  float: right;
  clear: both;
}

.map {
  clear: both;
}

.reply {
  margin-left: 2em;
  margin-right: 2em;
  font-size: 0.8em;
  padding: 0.5em 0.5em;
}

.reply-to {
  margin-left: 2em;
  margin-right: 2em;
  font-size: 0.8em;
  padding-top: 2em;
}

.reply-to + .note {
  margin-top: 0.3em;
}

.mini-h-card {
  border-radius: 2px;
  border: 1px solid #586e75;
  padding: 0 0.2em;
  text-decoration: none;
  margin-right: 5px;
  white-space: nowrap;
}

.mini-h-card img {
  height: 1.26em;
  display: inline;
  border-radius: 2px;
  vertical-align: text-bottom;
}

.like-photo {
  height: 1.26em;
}

.reply .e-content {
  margin-top: 0.5em;
  padding-left: 0.5em;
}

.notes-subtitle {
  font-size: 1em;
}

.note-photo {
  width: 100%;
  height: auto;
  image-orientation: from-image;
}

.post-info {
  font-size: 0.8em;
}

h1 {
  margin-bottom: 0;
}

.contact {
  position: relative;
}

.contact-links {
  list-style-type: none;
}

.contact img {
  height: auto;
  width: 2em;
  position: absolute;
  top: 0;
  left: 0;
}

.contact-info {
  margin-left: 2em;
}

/* media queries */
@media (min-width: 700px) {
  section {
    margin-left: 10em;
    margin-right: 10em;
  }

  footer {
    margin-left: 13em;
    margin-right: 13em;
  }

  .youtube {
    width: 640px;
    height: 360px;
  }
}
@media (max-width: 699px) {
  section {
    margin-left: 10px;
    margin-right: 10px;
  }

  article {
    word-wrap: break-word;
  }

  footer {
    margin-left: 15px;
    margin-right: 15px;
  }

  .youtube {
    width: 100%;
    height: auto;
  }
}
body {
  color: #002b36;
}

header a {
  color: #002b36;
}

a {
  color: #268bd2;
}

form {
  width: 100%;
}

fieldset {
  min-width: 0;
  width: 100%;
}

input[type="text"], input[type="file"], textarea {
  width: 100%;
}

input, button, textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #002b36;
  color: #fdf6e3;
  border: 1px solid #fdf6e3;
  border-radius: 4px;
}

button:hover {
  transition: 0.5s ease-in-out;
  background-color: #fdf6e3;
  color: #002b36;
}

input[type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
}

#photo {
  background: inherit;
  color: inherit;
  border: none;
}

/*# sourceMappingURL=global.css.map */
